<footer>
  <div class="container">
    {% form 'contact' %}
      {{ form.errors | default_errors }}

      <span>join the party</span>
      <p>We’re on our way to a city near you. Join our mailing list to stay up-to-date on the latest news from Merican.</p>
      <div class="input_part">

        <input
          type="email"
          name="contact[email]"
          id="email1"
          placeholder="name@email.com"
          required />


        <div class="submit">
          <input
            type="submit"
            value=""
            class="submit_input" />
          <svg
            width="11"
            height="10"
            viewBox="0 0 11 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 5.65612V4.30388L8.41874 4.31842L5.05997 0.95965L5.99054 0L10.9923 4.97273L6.00508 9.96L5.07451 9.00035L8.43328 5.64158L0 5.65612Z" fill="black" />
          </svg>
        </div>
      </div>
    {% endform %}

    <div class="logo_svg">
      <svg
        class="merican_logo"
        width="1374"
        height="507"
        viewBox="0 0 1374 507"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M257.339 25.4387C246.739 25.4387 245.31 77.7452 245.31 253.145C245.31 428.544 246.739 480.851 257.339 480.851V500.667H155.537V480.851C166.136 480.851 167.565 429.236 167.565 253.145V182.45L120.19 500.667H93.3221L45.9468 184.57V253.145C45.9468 429.927 65.7633 480.851 74.243 480.851V500.667H0V480.851C9.17092 480.851 19.8166 429.927 19.8166 253.145C19.8166 76.3627 9.217 25.4387 0 25.4387V5.62207H97.562L132.909 240.379L168.256 5.62207H257.339V25.4387Z" fill="black" />
        <path d="M433.569 306.88L452.648 313.931V500.621H266.695V480.805C275.866 480.805 278.032 428.498 278.032 253.099C278.032 77.6992 275.912 25.3927 266.695 25.3927V5.57617H447.717V185.907L427.901 192.958L366.377 33.1349H355.778V225.448C366.377 225.448 379.834 195.032 379.834 141.988H403.89V336.42H379.834C379.834 283.376 366.377 252.96 355.778 252.96V472.878H372.046L433.569 306.696V306.88Z" fill="black" />
        <path d="M557.307 224.848C569.335 224.848 579.934 205.769 579.934 127.286C579.934 55.1634 568.597 33.2271 557.307 33.2271H553.067V224.848H557.307ZM687.405 409.419C687.405 474.491 664.086 506.29 629.43 506.29C591.225 506.29 579.243 485.09 575.003 409.419C567.215 253.145 564.404 253.145 556.615 253.145H553.067V289.229C553.067 428.544 555.187 480.851 565.786 480.851V500.667H463.984V480.851C473.155 480.851 475.275 428.544 475.275 253.145C475.275 77.7452 473.155 25.4387 463.984 25.4387V5.62207H563.666C625.19 5.62207 664.777 43.8266 664.777 127.24C664.777 195.124 634.361 232.591 584.865 241.07C611.042 254.527 635.052 299.045 648.509 398.036C653.44 436.24 656.988 440.48 661.228 440.48C664.039 440.48 666.159 435.549 667.588 407.253L687.405 409.373V409.419Z" fill="black" />
        <path d="M692.059 500.621V480.805C701.23 480.805 703.349 429.19 703.349 253.099C703.349 77.0079 701.23 25.3927 692.059 25.3927V5.57617H793.169V25.3927C782.57 25.3927 781.141 77.0079 781.141 253.099C781.141 429.19 782.57 480.805 793.169 480.805V500.621H692.059Z" fill="black" />
        <path d="M953.131 301.212L978.57 302.64C971.519 456.103 953.131 506.29 902.899 506.29C837.826 506.29 800.359 424.259 800.359 253.145C800.359 82.0314 837.826 0 902.899 0C923.406 0 928.337 9.90825 938.983 9.90825C943.223 9.90825 951.702 7.78836 953.822 1.42862L972.21 8.47962V193.05L953.822 199.41C938.246 112.448 919.904 34.656 904.327 34.656C890.87 34.656 886.631 56.5924 886.631 251.025C886.631 445.458 900.087 464.583 915.618 464.583C942.486 464.583 950.965 390.34 953.085 301.258L953.131 301.212Z" fill="black" />
        <path d="M1062.26 340.108C1057.33 301.903 1050.92 253.837 1042.44 192.313C1036.08 251.717 1031.84 300.521 1028.98 340.108H1062.21H1062.26ZM1094.79 5.66895C1158.44 455.366 1161.99 478.732 1168.35 480.851V500.668H1068.66V480.851C1077.14 475.92 1077.83 459.652 1065.85 367.713H1027.65C1025.53 442.647 1032.58 476.612 1050.28 480.851V500.668H972.484V480.851C979.535 478.04 981.655 464.583 1044.61 5.66895H1094.79Z" fill="black" />
        <path d="M1298.3 5.62216H1373.24V25.4388C1362.64 25.4388 1352.73 77.054 1352.73 253.145V500.621H1313.83L1226.13 164.062V253.145C1226.13 429.236 1245.95 480.851 1254.43 480.851V500.667H1180.19V480.851C1190.1 480.851 1200 429.236 1200 253.145C1200 77.054 1189.4 25.4388 1180.19 25.4388V5.62216H1261.48L1325.82 253.099V238.951C1325.82 77.0079 1306.74 25.3927 1298.26 25.3927V5.57617L1298.3 5.62216Z" fill="black" />
      </svg>
    </div>
    <div class="slogan">
      MADE FOR ALL ™
    </div>
    <div class="line">
      <div class="links">
        <a href="/policies/privacy-policy">privacy policy</a>
        <a href="/policies/terms-of-service">terms & conditions</a>
      </div>
      <div class="social">
        <a href="https://www.linkedin.com/company/mericanbeveragecompany">
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect
              y="0.290039"
              width="24"
              height="24"
              rx="12"
              fill="black" />
            <path
              class="linkedin_foot"
              d="M6.21424 9.60997H8.90856V18.29H6.21424V9.60997ZM7.56214 5.29004C7.87117 5.29004 8.17325 5.38181 8.43018 5.55374C8.6871 5.72568 8.88733 5.97004 9.00552 6.25594C9.12371 6.54183 9.15456 6.85639 9.09416 7.15984C9.03376 7.46329 8.88484 7.74199 8.66622 7.96067C8.4476 8.17936 8.16911 8.32821 7.86599 8.38839C7.56286 8.44857 7.24872 8.41738 6.96331 8.29877C6.67789 8.18016 6.43402 7.97945 6.26255 7.72204C6.09107 7.46463 5.99971 7.16208 6 6.85266C6.0004 6.43809 6.16515 6.04064 6.45807 5.74763C6.75098 5.45462 7.14809 5.29004 7.56214 5.29004ZM10.5986 9.60997H13.1814V10.8017H13.2171C13.5771 10.1194 14.4549 9.39993 15.7656 9.39993C18.4942 9.39397 19 11.192 19 13.5232V18.29H16.3057V14.0669C16.3057 13.0614 16.2878 11.7669 14.9057 11.7669C13.5236 11.7669 13.2885 12.8633 13.2885 14.0014V18.29H10.5986V9.60997Z"
              fill="white" />
          </svg>
        </a>
        <a href="https://www.instagram.com/drinkmerican/">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M16 12.48C15.8979 13.0013 15.7086 13.5017 15.44 13.96C15.1742 14.4122 14.8206 14.8066 14.4 15.12C13.8437 15.536 13.1741 15.7731 12.48 15.8C11.7944 15.8286 11.1148 15.6621 10.52 15.32C9.91358 14.9806 9.42517 14.4643 9.12 13.84C8.64 12.88 8.533 11.867 8.8 10.8H7.68L7.76 16.32C7.76 16.427 7.8 16.533 7.88 16.64C7.96 16.747 8.053 16.8 8.16 16.8H16.48C16.587 16.8 16.693 16.747 16.8 16.64C16.907 16.533 16.96 16.427 16.96 16.32V10.8H15.84C16 11.333 16.053 11.893 16 12.48ZM12.32 14.48C12.96 14.48 13.52 14.24 14 13.76C14.48 13.28 14.72 12.707 14.72 12.04C14.7257 11.3882 14.4825 10.7587 14.04 10.28C13.587 9.773 13.027 9.52 12.36 9.52C11.693 9.52 11.12 9.76 10.64 10.24C10.16 10.72 9.92 11.293 9.92 11.96C9.92 12.627 10.147 13.213 10.6 13.72C11.053 14.227 11.6 14.48 12.24 14.48H12.32ZM16.48 6.88H15.36C15.253 6.88 15.147 6.933 15.04 7.04C14.933 7.147 14.88 7.253 14.88 7.36V8.72C14.987 8.933 15.147 9.04 15.36 9.04H16.48C16.64 9.04 16.76 8.987 16.84 8.88C16.9141 8.78943 16.9563 8.67696 16.96 8.56V7.36C16.96 7.253 16.907 7.147 16.8 7.04C16.693 6.933 16.587 6.88 16.48 6.88ZM12 0C9.813 0 7.8 0.533 5.96 1.6C4.14572 2.64095 2.64095 4.14572 1.6 5.96C0.533 7.8 0 9.813 0 12C0 14.187 0.533 16.2 1.6 18.04C2.64095 19.8543 4.14572 21.359 5.96 22.4C7.8 23.467 9.813 24 12 24C14.187 24 16.2 23.467 18.04 22.4C19.8543 21.359 21.359 19.8543 22.4 18.04C23.467 16.2 24 14.187 24 12C24 9.813 23.467 7.8 22.4 5.96C21.359 4.14572 19.8543 2.64095 18.04 1.6C16.2 0.533 14.187 0 12 0ZM18.24 16.88L18.16 16.96V17.04C18.1622 17.1665 18.1386 17.292 18.0904 17.409C18.0422 17.5259 17.9706 17.6318 17.88 17.72C17.6949 17.9059 17.4578 18.0314 17.2 18.08H7.52C7.38996 18.0808 7.26138 18.0525 7.14371 17.9971C7.02604 17.9417 6.92227 17.8607 6.84 17.76C6.65813 17.5563 6.53386 17.3077 6.48 17.04L6.4 16.88L6.48 7.04C6.48 6.773 6.573 6.533 6.76 6.32C6.947 6.107 7.173 5.973 7.44 5.92H17.12C17.3778 5.96864 17.6148 6.09414 17.8 6.28C17.9859 6.46515 18.1114 6.7022 18.16 6.96L18.24 16.88Z" fill="black" />
          </svg>
        </a>

        <a href="https://www.facebook.com/profile.php?id=61556759195623">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C9.813 0 7.8 0.533 5.96 1.6C4.14572 2.64095 2.64095 4.14572 1.6 5.96C0.533 7.8 0 9.813 0 12C0 14.187 0.533 16.2 1.6 18.04C2.64095 19.8543 4.14572 21.359 5.96 22.4C7.8 23.467 9.813 24 12 24C14.187 24 16.2 23.467 18.04 22.4C19.8543 21.359 21.359 19.8543 22.4 18.04C23.467 16.2 24 14.187 24 12C24 9.813 23.467 7.8 22.4 5.96C21.359 4.14572 19.8543 2.64095 18.04 1.6C16.2 0.533 14.187 0 12 0ZM15.12 12H13.12V19.2H10.4V12H8.64V9.52H10.4V8C10.4 6.88 10.587 6.08 10.96 5.6C11.387 5.013 12.16 4.72 13.28 4.72H15.28V7.2H14.08C13.653 7.2 13.387 7.267 13.28 7.4C13.173 7.533 13.12 7.787 13.12 8.16V9.36H15.28L15.12 12Z" fill="black" />
          </svg>
        </a>

      </div>
      <div class="copyright">2024©</div>
    </div>
  </div>
</footer>