<div class="wrapper">
  <header>
    <div class="container">
      <div class="left">
        <div class="menu_btn turn_white" style="z-index: 40;">menu</div>
        <a href="/pages/contact">contact</a>
        <a href="/pages/about">our story</a>
      </div>
      <a href="/" class="logo">
        <svg
          width="101"
          height="38"
          viewBox="0 0 101 38"
          fill="none"
          class="turn_white"
          xmlns="http://www.w3.org/2000/svg">
          <path
            class="turn_white"
            d="M18.8817 1.86611C18.1039 1.86611 17.9991 5.70399 17.9991 18.5735C17.9991 31.4431 18.1039 35.281 18.8817 35.281V36.735H11.4122V35.281C12.1899 35.281 12.2947 31.4938 12.2947 18.5735V13.3865L8.81866 36.735H6.84731L3.37124 13.542V18.5735C3.37124 31.5445 4.82524 35.281 5.44741 35.281V36.735H0V35.281C0.672896 35.281 1.454 31.5445 1.454 18.5735C1.454 5.60255 0.676277 1.86611 0 1.86611V0.412109H7.15839L9.75192 17.6369L12.3454 0.412109H18.8817V1.86611Z"
            fill="black" />
          <path
            class="turn_white"
            d="M31.8124 22.5157L33.2123 23.0331V36.7311H19.5684V35.2771C20.2413 35.2771 20.4002 31.4392 20.4002 18.5696C20.4002 5.70007 20.2446 1.8622 19.5684 1.8622V0.408203H32.8504V13.6396L31.3965 14.1569L26.8823 2.43027H26.1046V16.5408C26.8823 16.5408 27.8697 14.3091 27.8697 10.4171H29.6347V24.6832H27.8697C27.8697 20.7912 26.8823 18.5595 26.1046 18.5595V34.6955H27.2982L31.8124 22.5022V22.5157Z"
            fill="black" />
          <path
            class="turn_white"
            d="M40.8913 16.4974C41.7738 16.4974 42.5515 15.0975 42.5515 9.33897C42.5515 4.0471 41.7197 2.43757 40.8913 2.43757H40.5802V16.4974H40.8913ZM50.4369 30.0398C50.4369 34.8143 48.7259 37.1475 46.1831 37.1475C43.38 37.1475 42.5008 35.5921 42.1897 30.0398C41.6183 18.5735 41.412 18.5735 40.8405 18.5735H40.5802V21.2212C40.5802 31.4431 40.7357 35.281 41.5134 35.281V36.735H34.0439V35.281C34.7168 35.281 34.8724 31.4431 34.8724 18.5735C34.8724 5.70399 34.7168 1.86611 34.0439 1.86611V0.412109H41.3579C45.872 0.412109 48.7766 3.21528 48.7766 9.33559C48.7766 14.3164 46.5449 17.0654 42.9133 17.6876C44.8339 18.675 46.5957 21.9414 47.583 29.2046C47.9448 32.0078 48.2052 32.3189 48.5163 32.3189C48.7225 32.3189 48.8781 31.9571 48.9829 29.8809L50.4369 30.0364V30.0398Z"
            fill="black" />
          <path
            class="turn_white"
            d="M50.7783 36.7311V35.2771C51.4512 35.2771 51.6068 31.4899 51.6068 18.5696C51.6068 5.64935 51.4512 1.8622 50.7783 1.8622V0.408203H58.1971V1.8622C57.4194 1.8622 57.3145 5.64935 57.3145 18.5696C57.3145 31.4899 57.4194 35.2771 58.1971 35.2771V36.7311H50.7783Z"
            fill="black" />
          <path
            class="turn_white"
            d="M69.9339 22.1007L71.8004 22.2056C71.2831 33.4656 69.9339 37.1479 66.2482 37.1479C61.4737 37.1479 58.7246 31.1291 58.7246 18.574C58.7246 6.01888 61.4737 0 66.2482 0C67.7529 0 68.1147 0.726996 68.8958 0.726996C69.2069 0.726996 69.8291 0.571454 69.9846 0.104822L71.3338 0.622174V14.1646L69.9846 14.6313C68.8417 8.25059 67.4959 2.54281 66.353 2.54281C65.3657 2.54281 65.0546 4.15234 65.0546 18.4184C65.0546 32.6845 66.0419 34.0878 67.1815 34.0878C69.1528 34.0878 69.775 28.6403 69.9305 22.1041L69.9339 22.1007Z"
            fill="black" />
          <path
            class="turn_white"
            d="M77.9404 24.9547C77.5786 22.1516 77.1086 18.6248 76.4865 14.1106C76.0198 18.4692 75.7087 22.0501 75.4991 24.9547H77.9371H77.9404ZM80.3277 0.416016C84.9974 33.4116 85.2578 35.1259 85.7244 35.2815V36.7355H78.4105V35.2815C79.0326 34.9197 79.0834 33.7261 78.2042 26.9802H75.401C75.2455 32.4783 75.7628 34.9704 77.0613 35.2815V36.7355H71.3535V35.2815C71.8709 35.0752 72.0264 34.0879 76.6454 0.416016H80.3277Z"
            fill="black" />
          <path
            class="turn_white"
            d="M95.2602 0.411577H100.758V1.86558C99.9807 1.86558 99.2537 5.65273 99.2537 18.573V36.731H96.3998L89.965 12.0368V18.573C89.965 31.4933 91.419 35.2804 92.0412 35.2804V36.7344H86.5938V35.2804C87.3207 35.2804 88.0477 31.4933 88.0477 18.573C88.0477 5.65273 87.27 1.86558 86.5938 1.86558V0.411577H92.5585L97.2789 18.5696V17.5315C97.2789 5.64935 95.879 1.8622 95.2569 1.8622V0.408203L95.2602 0.411577Z"
            fill="black" />
        </svg>

      </a>
      <div class="right">
        
        <a
          href="/cart"
          style="z-index: 40;"
          class="cart_text turn_white">cart ({{ cart.item_count }})</a>
          <a href="/pages/shop" class="mob_none">shop</a>
      </div>
    </div>
  </header>
  <div class="mob_menu">
    <div class="links">
      <a href="/" class="link">home</a>
      <a href="/pages/about" class="link">our story</a>
      <a href="/pages/shop" class="link">shop</a>
      <a href="/pages/contact" class="link">contact</a>
    </div>
    <div class="follow">
      <span>follow us</span>
      <div class="social">
        <a href="https://www.linkedin.com/company/mericanbeveragecompany">
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect
              y="0.290039"
              width="24"
              height="24"
              rx="12"
              fill="black" />
            <path class="linkedin" d="M6.21424 9.60997H8.90856V18.29H6.21424V9.60997ZM7.56214 5.29004C7.87117 5.29004 8.17325 5.38181 8.43018 5.55374C8.6871 5.72568 8.88733 5.97004 9.00552 6.25594C9.12371 6.54183 9.15456 6.85639 9.09416 7.15984C9.03376 7.46329 8.88484 7.74199 8.66622 7.96067C8.4476 8.17936 8.16911 8.32821 7.86599 8.38839C7.56286 8.44857 7.24872 8.41738 6.96331 8.29877C6.67789 8.18016 6.43402 7.97945 6.26255 7.72204C6.09107 7.46463 5.99971 7.16208 6 6.85266C6.0004 6.43809 6.16515 6.04064 6.45807 5.74763C6.75098 5.45462 7.14809 5.29004 7.56214 5.29004ZM10.5986 9.60997H13.1814V10.8017H13.2171C13.5771 10.1194 14.4549 9.39993 15.7656 9.39993C18.4942 9.39397 19 11.192 19 13.5232V18.29H16.3057V14.0669C16.3057 13.0614 16.2878 11.7669 14.9057 11.7669C13.5236 11.7669 13.2885 12.8633 13.2885 14.0014V18.29H10.5986V9.60997Z" fill="white" />
          </svg>
        </a>
        <a href="https://www.instagram.com/drinkmerican/">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M16 12.48C15.8979 13.0013 15.7086 13.5017 15.44 13.96C15.1742 14.4122 14.8206 14.8066 14.4 15.12C13.8437 15.536 13.1741 15.7731 12.48 15.8C11.7944 15.8286 11.1148 15.6621 10.52 15.32C9.91358 14.9806 9.42517 14.4643 9.12 13.84C8.64 12.88 8.533 11.867 8.8 10.8H7.68L7.76 16.32C7.76 16.427 7.8 16.533 7.88 16.64C7.96 16.747 8.053 16.8 8.16 16.8H16.48C16.587 16.8 16.693 16.747 16.8 16.64C16.907 16.533 16.96 16.427 16.96 16.32V10.8H15.84C16 11.333 16.053 11.893 16 12.48ZM12.32 14.48C12.96 14.48 13.52 14.24 14 13.76C14.48 13.28 14.72 12.707 14.72 12.04C14.7257 11.3882 14.4825 10.7587 14.04 10.28C13.587 9.773 13.027 9.52 12.36 9.52C11.693 9.52 11.12 9.76 10.64 10.24C10.16 10.72 9.92 11.293 9.92 11.96C9.92 12.627 10.147 13.213 10.6 13.72C11.053 14.227 11.6 14.48 12.24 14.48H12.32ZM16.48 6.88H15.36C15.253 6.88 15.147 6.933 15.04 7.04C14.933 7.147 14.88 7.253 14.88 7.36V8.72C14.987 8.933 15.147 9.04 15.36 9.04H16.48C16.64 9.04 16.76 8.987 16.84 8.88C16.9141 8.78943 16.9563 8.67696 16.96 8.56V7.36C16.96 7.253 16.907 7.147 16.8 7.04C16.693 6.933 16.587 6.88 16.48 6.88ZM12 0C9.813 0 7.8 0.533 5.96 1.6C4.14572 2.64095 2.64095 4.14572 1.6 5.96C0.533 7.8 0 9.813 0 12C0 14.187 0.533 16.2 1.6 18.04C2.64095 19.8543 4.14572 21.359 5.96 22.4C7.8 23.467 9.813 24 12 24C14.187 24 16.2 23.467 18.04 22.4C19.8543 21.359 21.359 19.8543 22.4 18.04C23.467 16.2 24 14.187 24 12C24 9.813 23.467 7.8 22.4 5.96C21.359 4.14572 19.8543 2.64095 18.04 1.6C16.2 0.533 14.187 0 12 0ZM18.24 16.88L18.16 16.96V17.04C18.1622 17.1665 18.1386 17.292 18.0904 17.409C18.0422 17.5259 17.9706 17.6318 17.88 17.72C17.6949 17.9059 17.4578 18.0314 17.2 18.08H7.52C7.38996 18.0808 7.26138 18.0525 7.14371 17.9971C7.02604 17.9417 6.92227 17.8607 6.84 17.76C6.65813 17.5563 6.53386 17.3077 6.48 17.04L6.4 16.88L6.48 7.04C6.48 6.773 6.573 6.533 6.76 6.32C6.947 6.107 7.173 5.973 7.44 5.92H17.12C17.3778 5.96864 17.6148 6.09414 17.8 6.28C17.9859 6.46515 18.1114 6.7022 18.16 6.96L18.24 16.88Z" fill="black" />
          </svg>
        </a>

        <a href="https://www.facebook.com/profile.php?id=61556759195623">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C9.813 0 7.8 0.533 5.96 1.6C4.14572 2.64095 2.64095 4.14572 1.6 5.96C0.533 7.8 0 9.813 0 12C0 14.187 0.533 16.2 1.6 18.04C2.64095 19.8543 4.14572 21.359 5.96 22.4C7.8 23.467 9.813 24 12 24C14.187 24 16.2 23.467 18.04 22.4C19.8543 21.359 21.359 19.8543 22.4 18.04C23.467 16.2 24 14.187 24 12C24 9.813 23.467 7.8 22.4 5.96C21.359 4.14572 19.8543 2.64095 18.04 1.6C16.2 0.533 14.187 0 12 0ZM15.12 12H13.12V19.2H10.4V12H8.64V9.52H10.4V8C10.4 6.88 10.587 6.08 10.96 5.6C11.387 5.013 12.16 4.72 13.28 4.72H15.28V7.2H14.08C13.653 7.2 13.387 7.267 13.28 7.4C13.173 7.533 13.12 7.787 13.12 8.16V9.36H15.28L15.12 12Z" fill="black" />
          </svg>
        </a>

      </div>
    </div>
    <div class="other">
      <a href="/policies/privacy-policy">privacy policy</a>
      <a href="/policies/terms-of-service">terms & conditions</a>
      <a>2024©</a>
    </div>
  </div>
  <script>
       const menu_btn = document.querySelector('.menu_btn');
        const mob_menu = document.querySelector('.mob_menu');
        const header = document.querySelector('header');
        const cart_text = document.querySelector('.cart_text');
        const logo = document.querySelector('.logo');

        menu_btn.addEventListener('click', () => {
            mob_menu.classList.toggle('open_menu');
            header.classList.toggle('open_menu');
            menu_btn.classList.toggle('open_menu');
            cart_text.classList.toggle('open_menu');
            logo.classList.toggle('displaynone');
            
            if (menu_btn.textContent === 'close') {
                menu_btn.textContent = 'menu';
            } else {
                menu_btn.textContent = 'close';
            }
        });

  </script>
  <style>
    .displaynone {
      display: none;
    }
  </style>

  <div id="ageModal" class="modal">
    <div class="modal-content">
      <div id="ageQuestion">
        <div class="content">
          <div class="log"><img src="{{ 'log.png' |  asset_url}}" alt=""></div>
          <span>Are you over 21?</span>
          <div class="answers">
            <div class="answer" id="yes">Yes, I’m at least 21</div>
            <div class="answer" id="no">No</div>
          </div>
        </div>
      </div>
      <div id="dobQuestion" style="display: none;">
        <div class="content">
          <div class="log"><img src="{{ 'log.png' |  asset_url}}" alt=""></div>
          <span>You must be of legal drinking age to enter this site.</span>
          <div class="age">
            <div class="inputs">
              <input
                type="number"
                id="dobMonth"
                placeholder="MM"
                min="1"
                max="12">
              <input
                type="number"
                id="dobDay"
                placeholder="DD"
                min="1"
                max="31">
              <input
                type="number"
                id="dobYear"
                placeholder="YYYY"
                min="1900"
                max="9999"
                maxlength="4">
            </div>
            <div class="confirm">Enter</div>
          </div>
        </div>
      </div>
      <p>By clicking "Yes" you also confirm that you have read and agree to Merican’s Terms of Use and Privacy Policy.</p>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const ageModal = document.getElementById('ageModal');
      const ageQuestion = document.getElementById('ageQuestion');
      const dobQuestion = document.getElementById('dobQuestion');
      const over21Btn = document.getElementById('yes');
      const under21Btn = document.getElementById('no');
      const confirmBtn = document.querySelector('.confirm');
      const dobMonthInput = document.getElementById('dobMonth');
      const dobDayInput = document.getElementById('dobDay');
      const dobYearInput = document.getElementById('dobYear');


      if (localStorage.getItem('visitedBefore') == 'true') {

    ageModal.style.display = localStorage.getItem('over21') == 'true' ? 'none' : 'block';
      } else {
    ageModal.style.display = 'block';
    localStorage.setItem('visitedBefore', 'true');
      }


      function closeModal() {
    ageModal.style.display = 'none';
      }


      function showDobQuestion() {
    ageQuestion.style.display = 'none';
    dobQuestion.style.display = 'block';
      }


      over21Btn.addEventListener('click', function() {
        closeModal();
    // showDobQuestion();
    localStorage.setItem('over21', 'true');
      });


      under21Btn.addEventListener('click', function() {
    window.location.href = "https://www.google.com";
    localStorage.removeItem('over21'); 
      });


      confirmBtn.addEventListener('click', function() {
    const dobMonth = parseInt(dobMonthInput.value);
    const dobDay = parseInt(dobDayInput.value);
    const dobYear = parseInt(dobYearInput.value);


    if (isNaN(dobMonth) || isNaN(dobDay) || isNaN(dobYear)) {
      alert('Please enter valid numbers for the date of birth.');
      return;
    }


    if (dobMonth < 1 || dobMonth > 12 || dobDay < 1 || dobDay > 31 || dobYear < 1900 || dobYear > new Date().getFullYear()) {
      alert('Please enter a valid date of birth.');
      return;
    }

    const dob = new Date(dobYear, dobMonth - 1, dobDay);
    const age = calculateAge(dob);

    if (age >= 21) {
      closeModal();
      localStorage.setItem('over21', 'true');
    } else {
      alert('Sorry, you must be at least 21 years old to enter this site.');
      window.location.href = "https://www.google.com";
      localStorage.removeItem('over21'); 
    }
      });


      function calculateAge(birthday) {
    const today = new Date();
    const diff = today - birthday;
    const ageDate = new Date(diff);
    return Math.abs(ageDate.getUTCFullYear() - 1970);
      }


      dobMonthInput.addEventListener('input', function() {
    this.value = this.value.replace(/\D/g, '').slice(0, 2);
      });

      dobDayInput.addEventListener('input', function() {
    this.value = this.value.replace(/\D/g, '').slice(0, 2);
      });

      dobYearInput.addEventListener('input', function() {
    this.value = this.value.replace(/\D/g, '').slice(0, 4);
      });
    });

  </script>