<section class="sec12">
  <div class="container">
    <div class="eror">
      <div class="four">4</div>
      <img src="{{ 'bottle_of_beer.png' |  asset_url}}" alt="">
      <div class="four">4</div>
    </div>
    <div class="text">
      <h2>Ooops, the page was not found...</h2>
      <p>It looks like the page you tried to find doesn’t exist or isn’t named like that.</p>
      <a href="/" class="link">
        <span>Return to the homepage</span>
        <svg
          width="11"
          height="10"
          viewBox="0 0 11 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0.00390625 5.67565V4.32341L8.42265 4.33795L5.06388 0.979181L5.99445 0.0195312L10.9962 4.99226L6.00899 9.97953L5.07842 9.01988L8.43719 5.66111L0.00390625 5.67565Z" fill="#FFF9EA" />
        </svg>
      </a>
    </div>
  </div>
</section>
<style>
  footer .container form {
    display: none;
  }
</style>