<section class="sec14">
  <div class="container">
    <div class="left">
      <div class="text">
        <h1>CONTACT US</h1>
        <ul>
          <li>
            <span>EMAIL</span>
            <a href="mailto:hello@merican.com">hello@merican.com</a>
          </li>
        {% comment %} <li>
                                                                                                                <span>PHONE NUMBER</span>
                                                                                                                <a href="">44 5748 538 374</a>
                                                                                          </li> {% endcomment %}
        </ul>
        <div class="social">
          <a href="https://www.linkedin.com/company/mericanbeveragecompany">
            <svg
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect
                y="0.290039"
                width="24"
                height="24"
                rx="12"
                fill="black" />
              <path
                class="linkedin_foot"
                d="M6.21424 9.60997H8.90856V18.29H6.21424V9.60997ZM7.56214 5.29004C7.87117 5.29004 8.17325 5.38181 8.43018 5.55374C8.6871 5.72568 8.88733 5.97004 9.00552 6.25594C9.12371 6.54183 9.15456 6.85639 9.09416 7.15984C9.03376 7.46329 8.88484 7.74199 8.66622 7.96067C8.4476 8.17936 8.16911 8.32821 7.86599 8.38839C7.56286 8.44857 7.24872 8.41738 6.96331 8.29877C6.67789 8.18016 6.43402 7.97945 6.26255 7.72204C6.09107 7.46463 5.99971 7.16208 6 6.85266C6.0004 6.43809 6.16515 6.04064 6.45807 5.74763C6.75098 5.45462 7.14809 5.29004 7.56214 5.29004ZM10.5986 9.60997H13.1814V10.8017H13.2171C13.5771 10.1194 14.4549 9.39993 15.7656 9.39993C18.4942 9.39397 19 11.192 19 13.5232V18.29H16.3057V14.0669C16.3057 13.0614 16.2878 11.7669 14.9057 11.7669C13.5236 11.7669 13.2885 12.8633 13.2885 14.0014V18.29H10.5986V9.60997Z"
                fill="white" />
            </svg>
          </a>
          <a href="https://www.instagram.com/drinkmerican/">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M16 12.48C15.8979 13.0013 15.7086 13.5017 15.44 13.96C15.1742 14.4122 14.8206 14.8066 14.4 15.12C13.8437 15.536 13.1741 15.7731 12.48 15.8C11.7944 15.8286 11.1148 15.6621 10.52 15.32C9.91358 14.9806 9.42517 14.4643 9.12 13.84C8.64 12.88 8.533 11.867 8.8 10.8H7.68L7.76 16.32C7.76 16.427 7.8 16.533 7.88 16.64C7.96 16.747 8.053 16.8 8.16 16.8H16.48C16.587 16.8 16.693 16.747 16.8 16.64C16.907 16.533 16.96 16.427 16.96 16.32V10.8H15.84C16 11.333 16.053 11.893 16 12.48ZM12.32 14.48C12.96 14.48 13.52 14.24 14 13.76C14.48 13.28 14.72 12.707 14.72 12.04C14.7257 11.3882 14.4825 10.7587 14.04 10.28C13.587 9.773 13.027 9.52 12.36 9.52C11.693 9.52 11.12 9.76 10.64 10.24C10.16 10.72 9.92 11.293 9.92 11.96C9.92 12.627 10.147 13.213 10.6 13.72C11.053 14.227 11.6 14.48 12.24 14.48H12.32ZM16.48 6.88H15.36C15.253 6.88 15.147 6.933 15.04 7.04C14.933 7.147 14.88 7.253 14.88 7.36V8.72C14.987 8.933 15.147 9.04 15.36 9.04H16.48C16.64 9.04 16.76 8.987 16.84 8.88C16.9141 8.78943 16.9563 8.67696 16.96 8.56V7.36C16.96 7.253 16.907 7.147 16.8 7.04C16.693 6.933 16.587 6.88 16.48 6.88ZM12 0C9.813 0 7.8 0.533 5.96 1.6C4.14572 2.64095 2.64095 4.14572 1.6 5.96C0.533 7.8 0 9.813 0 12C0 14.187 0.533 16.2 1.6 18.04C2.64095 19.8543 4.14572 21.359 5.96 22.4C7.8 23.467 9.813 24 12 24C14.187 24 16.2 23.467 18.04 22.4C19.8543 21.359 21.359 19.8543 22.4 18.04C23.467 16.2 24 14.187 24 12C24 9.813 23.467 7.8 22.4 5.96C21.359 4.14572 19.8543 2.64095 18.04 1.6C16.2 0.533 14.187 0 12 0ZM18.24 16.88L18.16 16.96V17.04C18.1622 17.1665 18.1386 17.292 18.0904 17.409C18.0422 17.5259 17.9706 17.6318 17.88 17.72C17.6949 17.9059 17.4578 18.0314 17.2 18.08H7.52C7.38996 18.0808 7.26138 18.0525 7.14371 17.9971C7.02604 17.9417 6.92227 17.8607 6.84 17.76C6.65813 17.5563 6.53386 17.3077 6.48 17.04L6.4 16.88L6.48 7.04C6.48 6.773 6.573 6.533 6.76 6.32C6.947 6.107 7.173 5.973 7.44 5.92H17.12C17.3778 5.96864 17.6148 6.09414 17.8 6.28C17.9859 6.46515 18.1114 6.7022 18.16 6.96L18.24 16.88Z" fill="black" />
            </svg>
          </a>

          <a href="https://www.facebook.com/profile.php?id=61556759195623">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M12 0C9.813 0 7.8 0.533 5.96 1.6C4.14572 2.64095 2.64095 4.14572 1.6 5.96C0.533 7.8 0 9.813 0 12C0 14.187 0.533 16.2 1.6 18.04C2.64095 19.8543 4.14572 21.359 5.96 22.4C7.8 23.467 9.813 24 12 24C14.187 24 16.2 23.467 18.04 22.4C19.8543 21.359 21.359 19.8543 22.4 18.04C23.467 16.2 24 14.187 24 12C24 9.813 23.467 7.8 22.4 5.96C21.359 4.14572 19.8543 2.64095 18.04 1.6C16.2 0.533 14.187 0 12 0ZM15.12 12H13.12V19.2H10.4V12H8.64V9.52H10.4V8C10.4 6.88 10.587 6.08 10.96 5.6C11.387 5.013 12.16 4.72 13.28 4.72H15.28V7.2H14.08C13.653 7.2 13.387 7.267 13.28 7.4C13.173 7.533 13.12 7.787 13.12 8.16V9.36H15.28L15.12 12Z" fill="black" />
            </svg>
          </a>
        </div>
        <div class="form_text">
          <h1>JOIN THE PARTY</h1>
          <p>We’re on our way to a city near you. Join our mailing list to stay up-to-date on the latest news from Merican.</p>
        </div>

      </div>
      {% form 'contact' %}
        {{ form.errors | default_errors }}
        <div class="name">
          <input
            type="text"
            name="contact[first_name]"
            id="first-name"
            placeholder="FIRST NAME"
            required>
          <input
            type="text"
            name="contact[last_name]"
            id="last-name"
            placeholder="LAST NAME"
            required>
        </div>
        <input
          type="email"
          placeholder="EMAIL"
          name="contact[email]"
          id="email"
          required>
        <textarea
          placeholder="MESSAGE"
          name="contact[body]"
          id="message"></textarea>
        <input
          type="submit"
          value="SUBMIT"
          class="submit_input" />
      {% endform %}
      <svg
        class="cont_logo"
        width="753"
        height="279"
        viewBox="0 0 753 279"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M141.109 14.792C135.297 14.792 134.513 43.4737 134.513 139.652C134.513 235.831 135.297 264.512 141.109 264.512V275.379H85.287V264.512C91.0991 264.512 91.8825 236.21 91.8825 139.652V100.888L65.9047 275.379H51.1722L25.1944 102.05V139.652C25.1944 236.589 36.0606 264.512 40.7103 264.512V275.379H0V264.512C5.02877 264.512 10.8662 236.589 10.8662 139.652C10.8662 42.7156 5.05404 14.792 0 14.792V3.92578H53.497L72.8793 132.652L92.2616 3.92578H141.109V14.792Z" fill="black" />
        <path d="M237.743 169.117L248.205 172.983V275.353H146.24V264.487C151.269 264.487 152.456 235.805 152.456 139.627C152.456 43.4483 151.294 14.7666 146.24 14.7666V3.90039H245.501V102.783L234.635 106.649L200.899 19.0119H195.087V124.465C200.899 124.465 208.278 107.786 208.278 78.7002H221.469V185.315H208.278C208.278 156.229 200.899 139.551 195.087 139.551V260.14H204.007L237.743 169.016V169.117Z" fill="black" />
        <path d="M305.593 124.136C312.189 124.136 318.001 113.674 318.001 70.6391C318.001 31.0913 311.784 19.0627 305.593 19.0627H303.268V124.136H305.593ZM376.931 225.343C376.931 261.025 364.144 278.461 345.141 278.461C324.192 278.461 317.622 266.837 315.297 225.343C311.026 139.652 309.485 139.652 305.214 139.652H303.268V159.439C303.268 235.831 304.431 264.512 310.243 264.512V275.379H254.421V264.512C259.45 264.512 260.612 235.831 260.612 139.652C260.612 43.4737 259.45 14.792 254.421 14.792V3.92578H309.08C342.816 3.92578 364.523 24.8748 364.523 70.6139C364.523 107.837 347.845 128.382 320.705 133.031C335.058 140.41 348.224 164.821 355.603 219.102C358.307 240.051 360.253 242.376 362.577 242.376C364.119 242.376 365.281 239.672 366.065 224.156L376.931 225.318V225.343Z" fill="black" />
        <path d="M379.483 275.353V264.487C384.512 264.487 385.674 236.184 385.674 139.627C385.674 43.0692 384.512 14.7666 379.483 14.7666V3.90039H434.926V14.7666C429.114 14.7666 428.33 43.0692 428.33 139.627C428.33 236.184 429.114 264.487 434.926 264.487V275.353H379.483Z" fill="black" />
        <path d="M522.639 166.009L536.589 166.792C532.722 250.942 522.639 278.461 495.095 278.461C459.413 278.461 438.869 233.48 438.869 139.652C438.869 45.8238 459.413 0.842773 495.095 0.842773C506.34 0.842773 509.044 6.27586 514.881 6.27586C517.206 6.27586 521.856 5.11343 523.018 1.62614L533.101 5.49249V106.7L523.018 110.187C514.477 62.5022 504.42 19.846 495.878 19.846C488.499 19.846 486.175 31.8746 486.175 138.49C486.175 245.105 493.553 255.592 502.069 255.592C516.802 255.592 521.452 214.882 522.614 166.034L522.639 166.009Z" fill="black" />
        <path d="M582.478 187.337C579.774 166.388 576.261 140.031 571.612 106.296C568.124 138.869 565.8 165.63 564.233 187.337H582.453H582.478ZM600.319 3.95117C635.217 250.538 637.163 263.35 640.65 264.512V275.379H585.99V264.512C590.64 261.808 591.019 252.888 584.449 202.474H563.5C562.337 243.563 566.204 262.188 575.908 264.512V275.379H533.251V264.512C537.118 262.971 538.28 255.592 572.799 3.95117H600.319Z" fill="black" />
        <path d="M711.911 3.92561H753V14.7919C747.188 14.7919 741.755 43.0945 741.755 139.652V275.353H720.427L672.338 90.8046V139.652C672.338 236.21 683.204 264.512 687.854 264.512V275.378H647.144V264.512C652.577 264.512 658.01 236.21 658.01 139.652C658.01 43.0945 652.198 14.7919 647.144 14.7919V3.92561H691.72L726.997 139.627V131.869C726.997 43.0692 716.536 14.7666 711.886 14.7666V3.90039L711.911 3.92561Z" fill="black" />
      </svg>
    </div>
    <div class="right">
      <img src="{{ 'cont_bg.jpg' |  asset_url }}" alt="">
    </div>
  </div>
</section>
<script>
  const links = document.querySelectorAll('.mob_menu .links .link');
  const ind = 3;
  links[ind].style.opacity = '1'
</script>
<style>
  footer .container form {
    display: none;
  }
  footer .container .logo_svg {
    display: none;
  }
  footer .container {
    margin-top: 0;
  }
  footer .slogan {
    display: none;
  }
</style>