<section class="sec13">
  <div class="container">
    <h1>coming soon!</h1>
    <p>We are currently working on something awesome. Stay tuned!</p>
    <img src="{{ 'pack.png' |  asset_url}}" alt="">
  </div>
</section>
<style>


/*
   header .container .left,
   header .container .right {
   display: none;
   }
   header .container {
   justify-content: center;
   }
*/


/*
   footer .container form {
   display: none;
   }
   footer .logo_svg {
   display: none;
   }
   footer .container {
   margin-top: 0;
   }
   footer .container .line .links {
   display: none;
   }
   footer .container .line .copyright {
   display: none;
   }
   footer .container .line {
   justify-content: center;
   }
   footer .container .line .social {
   margin-left: 0;
   }
   footer .container .line .social a svg path {
   fill: #B12C27;
   }
   footer .container .line {
   margin-top: 10px;
   margin-bottom: 30px;
   }
   .linkedin_foot {
   fill: white !important;
   }
   footer .container .line .social svg rect {
   fill: var(--red) !important;
   }
   footer .slogan {
   display: none;
   }
*/</style>